*.class
*.tokens
*.txt
*.swp
*.bkp
*.png
*.html
*.dm
byond2Parser.java
byond2Lexer.java
byond2ParserBaseListener.java
byond2ParserListener.java
byond2Preproc.java
byond2PreprocLexer.java
byond2PreprocBaseListener.java
byond2PreprocListener.java
output.dm
byond2ParserBaseVisitor.java
byond2ParserVisitor.java
byond2PreprocBaseVisitor.java
byond2PreprocVisitor.java

